.container {
    margin: 1 auto;
    border: none;
    font-size: 26px;
}
.container .header {
    font-size: 36px;
}
#rungame {
    font-size: 20px;
    font-family: tahoma;
}
#runover {
    font-size: 20px;
    font-family: 20px;
    display: none;
}
#runOverShow {
    font-size: 20px;
    font-family: 20px;
}
body {
    background-color: cornflowerblue;
    font-family: tahoma;
}
.container {
    text-align: right;
}
.closePic {
    display: none;
}
.openPic {
    display: inherit;
    width: 150px;
    height: 150px;
}
td {
    background-color: darkslategray;
    width: 150px;
    height: 150px;
}
td:hover {
    background-color: darkblue;
    cursor: pointer;
}
#rows {
    font-size: 20px;
}
#cols {
    font-size: 20px;
}
